*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot");
    src: url("../fonts/vazir.ttf") format("ttf");
    src: url("../fonts/vazir.woff") format("woff");
    src: url("../fonts/vazir.woff2") format("woff2");}

body{
    direction: rtl;
    font-family: vazir;}

.main{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}

h2{
    position: absolute;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 42%;
    font-size: 35px;
    color:cornsilk;
    word-spacing: 5px;}

.top-input{
    width: 600px;
    position: absolute;
    top: 18%;
    right: 50%;
    transform: translate(50%);
    padding: 10px;
    font-family: vazir;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;}

.top-btn{
    width: 70px;
    position: absolute;
    top: 18%;
    right: 66%;
    padding: 10px;
    font-size: 16px;
    font-family: vazir;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;}

.top-btn:hover{
    background-color: green;
    color: #fff;}

.taskForm{
    width: 680px;
    position: absolute;
    top: 25%;
    right: 52%;
    transform: translate(50%);
    border-radius: 5px;
    background-color: #fff;
    padding: 1px;}

.ul{
    list-style: none;
    width: 100%;
    border-radius: 5px;}

.taskItem{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;}

.enter-Item{
    background-color:rgba(187, 255, 51, 0.3);}

span{
    direction: ltr;
    width: 16%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 10px;}

.fa-trash{
    color: #c00;
    cursor: pointer;
    margin-right: 25px;}

.fa-trash:hover{
    font-size: 18px;}

.fa-times{
    color: orange;
    cursor: pointer;}

.fa-times:hover{
    font-size: 18px;}

.fa-check{
    color: green;
    cursor: pointer;}

.fa-check:hover{
    font-size: 18px;}

.massege{
    width: 100%;
    text-align: center;
    color: #c00;
    font-size: 20px;
    padding: 10px;}